.Emergency {
    background: linear-gradient(90.00deg, rgba(1.251827359199524, 49.64006805419922, 34.606834411621094, 1),rgba(0, 103, 71, 1) 50%,rgba(1, 50, 35, 1) 100%);
    width: 100%;
    height: 239px;;
    display: flex;
    justify-content: center;
    align-items: center;
}
.emergency_all{
    background: #fffdfd;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
}
.emergency_title{

}
.emergency_title h1 {
    font-weight: bold;
    font-size: 24px;
}

.btn-copy{
    background: #fffdfd;
    padding: 10px;
    padding: 10px 40px 10px 40px;
}

.btn-call{
    background: #00A63E;
    padding: 10px;
    padding: 10px 40px 10px 40px;
}

.btn-copy_ch{
     background: #fffdfd;
}
.btn-call_ch{
 background: #00A63E;
}

/* .emergency_title  */